.navbar {
  padding: 80px var(--horizontal-padding) 48px var(--horizontal-padding);
}

.navbar-logo {
  height: auto;
  width: 90px;
}

.header {
  padding: 0 var(--horizontal-padding);
  width: 100%;
}

.header-title {
  text-align: center;
  color: var(--gray);
  font-weight: 300;
}

.header-title span {
  color: var(--black);
  font-weight: 700;
}

.header-description {
  text-align: center;
  color: var(--black);
  font-weight: 300;
  margin: 16px 0 40px 0;
}

.header-form {
  display: flex;
  justify-content: center;
  align-items: stretch;
}

.header-input {
  border: 1px solid var(--pale-blue);
  color: var(--black);
  border-radius: 28px;
  padding: 18px 30px;
  margin-right: 16px;
  font-weight: 300;
  flex-grow: 1;
}

.header-input:focus {
  outline: none;
  border: 1px solid var(--black);
}

.header-input::placeholder {
  color: var(--dark-pale-blue);
}
